.appContentWrapper {
	display: flex; 
	min-height: 100%;
	flex-direction: column;
}

.appContent {
	/* display: grid; */
	max-width: 1140px; 
	box-sizing: border-box;
	/* max-height: 100vh; */
	/* flex: 1; */
}
